.img {
  width: 25vw;
  z-index: 1;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.circleContainer {
  // width: 25%;
  // border-radius: 63% 37% 46% 54% / 37% 33% 67% 63%;
}

.circle {
  opacity: 0.6;
  z-index: -1;
  border-radius: 63% 37% 46% 54% / 37% 33% 67% 63%;
  background: $subColor;
  position: relative;
  top: 0%;
  left: -80%;
  padding: 50%;
}
// .circle:before {
//   line-height: 1;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 7em;
//   height: 1em;
//   margin-top: -0.5em;
//   margin-left: -3.5em;
// }

//positionをrelativeにすればheightの設定は１箇所でOK
@mixin displayCenter {
  display: flex;
  justify-content: center;
}

.aboutContainer {
  z-index: -100;
  background-color: $mainColor;

  position: relative;
  @include displayCenter;
}

.aboutSection {
  margin-top: 10%;
}

.aboutContent {
  padding: 7rem;
  background-color: $mainColor;
  z-index: -1;

  h2 {
    font-family: "Caveat", cursive;
    font-size: $h2Font;
  }

  h3 {
    font-size: $h3Font;
    margin-top: 1.3rem;
  }

  p {
    font-size: $pFont;
  }
}

.aboutImgContent {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7rem;
  background-color: $mainColor;
  z-index: -1;
}

@media (max-width: 1024px) {
  .aboutContent {
    padding: 5rem;
  }
  .aboutImgContent {
    padding: 5rem;
  }
}

@media (max-width: 768px) {
  .aboutImgContent {
    padding: 3rem;
  }
  .aboutContent {
    padding: 3rem;
  }
}

@media (max-width: 540px) {
  .aboutImgContent {
    padding: 2rem;
  }
  .aboutContent {
    padding: 2rem;
    h2 {
      font-size: $h2Font2;
    }
    h3 {
      font-size: $h3Font2;
    }
    p {
      font-size: $pFont2;
    }
  }
}

@media (max-width: 414px) {
  .aboutContainer {
    flex-direction: column;
    padding: 3rem;
  }

  .circle {
    // height: 15vh;
    // top: 40%;
    // left: 55%;
  }
  .img {
    width: 30vw;
    position: absolute;
    left: 25%;
  }
  .aboutContent {
    h2 {
      font-size: $h2Font;
    }

    h3 {
      font-size: $h3Font;
    }

    p {
      font-size: $pFont;
    }
    padding: 1rem;
  }
}
