.copyright {
  padding: 0.3rem;
  text-align: center;
  font-size: $pFont;
  p {
    margin: 0;
  }
}

//////////////////////////////////////////////
//media query for ipad pro

@media (max-width: 1024px) {
  .copyright {
    padding: 0.3rem;
    text-align: center;
    font-size: $pFont2;
    p {
      margin: 0;
    }
  }
}

@media (max-width: 540px) {
  .copyright {
    font-size: $pFont3;
  }
}

@media (max-width: 320px) {
  .copyright {
    font-size: $pFont4;
  }
}
