@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@keyframes circleAnimation1 {
  0% {
    transform: rotate(50deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes circleAnimation2 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(50deg);
  }
}

@keyframes introductionAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}

.circle1 {
  opacity: 0.6;
  position: absolute;
  top: 7vh;
  left: 10vw;
  height: 500px;
  animation: circleAnimation1 2s ease-in-out;
  animation-fill-mode: forwards;
  // background: #e7eff1;
}

.circle2 {
  opacity: 0.6;
  position: absolute;
  left: -3vw;
  bottom: 5vh;
  height: 550px;
  // background: #e7eff1;
  animation: circleAnimation2 2s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1;
}

.circle3 {
  opacity: 0.6;
  position: absolute;
  right: 7vw;
  bottom: -7vh;
  height: 500px;
  // background: #578f92;
  animation: circleAnimation1 2s ease-in-out;
  animation-fill-mode: forwards;
}

.circle4 {
  opacity: 0.6;
  width: 25%;
  position: absolute;
  bottom: 3rem;
  right: 5rem;
  height: 300px;
  animation: circleAnimation2 2s ease-in-out;
  animation-fill-mode: forwards;
}

// .circle5 {
//   opacity: 0.6;
//   width: 23%;
//   position: absolute;
//   bottom: 10rem;
//   right: 15rem;
//   height: 270px;
//   background: #a3b5c6;
//   animation: circleAnimation2 50s infinite linear;
//   z-index: -1;
// }

.mainSection {
  padding-top: 100px;
  height: calc(100vh - 100px);
}

.mainMessage {
  width: 35%;
  margin: 0 auto;
  padding-top: 15%;
  text-align: center;
  h1 {
    animation: introductionAnimation 2s ease-in-out;
    animation-fill-mode: forwards;
    font-family: "Caveat", cursive;
  }
}

.myName {
  background: $underline;
}

.readMore {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: $h3Font;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.readMoreDetails {
  font-size: 1rem;
  border: 3px solid $mainColor;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  transition: 0.3s;
  &:hover {
    background-color: $mainColor;
    text-decoration: none;
  }
}

.mainTitle {
  font-family: "Caveat", cursive;
  font-size: $h1Font;
  padding: 5rem 0 1rem 10rem;
  margin: 0;
  span {
    background: $underline;
  }
}

//////////////////////////////////////////////
//box
.box {
  margin: 0 1rem;
  position: relative;
  padding: 0.3rem;
  width: 7vw;
  transition: 0.3s;
  display: inline-block;

  //@@@set translate and box-shadow to make them look like a real button
  &:hover {
    background-color: $subColor;
    transition: 0.3s;
    // transform: translateY(-3px);
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

//@@@brakets
.box::before,
.box::after,
.boxTxt::before,
.boxTxt::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
}

.box::before {
  top: 0;
  left: 0;
  border-top: 1px solid #484848;
  border-left: 1px solid #484848;
}
.boxTxt::before {
  top: 0;
  right: 0;
  border-top: 1px solid #484848;
  border-right: 1px solid #484848;
}

.box::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #484848;
  border-left: 1px solid #484848;
}
.boxTxt::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #484848;
  border-right: 1px solid #484848;
}

.boxTxt {
  width: 100%;
  text-align: center;
}
