//////////////////////////////////////////////
//work section

.workImg {
  padding: 3rem;
  img {
    width: 30vw;
  }
}

.worksContainer {
  margin: 0;
  padding-bottom: 5%;
  text-align: center;
  align-items: center;
}

.worksDescription {
  // Bootstrapにpaddingが設定されているから、
  // 新しくpaddingを変更する場合は!importantで優先順位を決める必要がある。
  padding: 2rem 5rem;

  h3 {
    font-size: $h3Font;
  }
  p {
    font-size: $pFont;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.worksSection {
  // margin-top: 10%;
}

.comingSoon {
  margin-bottom: 2rem;
}

.skillIcons {
  display: flex;
  justify-content: center;
  div {
    padding: 0 0.5rem;
  }
}

@media (max-width: 991px) {
  .columnReverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 540px) {
  .worksDescription {
    padding: 1rem 5rem;

    h3 {
      font-size: $h3Font3;
    }
    p {
      font-size: $pFont3;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 414px) {
  .worksDescription {
    padding: 1rem 3rem;
  }
}
@media (max-width: 320px) {
  .worksDescription {
    padding: 1rem 1rem;
  }
}
