//////////////////////////////////////////////
//font size
$h1Font: 2.2rem;
$h2Font: 1.5rem;
$h3Font: 1.2rem;
$pFont: 1rem;
$IconFont: 2rem;

//////////////////////////////////////////////
//color
$mainColor: #e7eff1;
$subColor: #d8d8f6;
//DA9A93

//////////////////////////////////////////////
//underline
$underline: linear-gradient(transparent 60%, #d8d8f6 80%);

//////////////////////////////////////////////
//padding
$section: 10vh;

//////////////////////////////////////////////
//media query font size
$h1Font2: 1.7rem;
$h2Font2: 1.5rem;
$h3Font2: 1.3rem;
$pFont2: 1rem;
$IconFont2: 1.5rem;

$h1Font3: 1.5rem;
$h2Font3: 1.2rem;
$h3Font3: 0.9rem;
$pFont3: 0.8rem;
$IconFont3: 1.2rem;

$h1Font4: 1.2rem;
$h2Font4: 1rem;
$h3Font4: 0.7rem;
$pFont4: 0.5rem;
